.background-container {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.7)), url("../images/banner3.png");
    background-size: cover;
    width: auto; 
    height: 400px; 
    line-height: 400px;
    text-align: center;
}

h1 {
    margin: auto; 
    color: white; 
    font-size: 30px; 
    display: inline-block; 
    font-weight: bold
}

.tarumtdesc {
    min-width: 300px;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    font-size: 16px;
    font-weight: 500;
    color: #9fa1a3
}